<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css?{% now 'U' %}" />
		<title>{% block title %}{% endblock %}</title>

		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}menu.css" />
		<script type="text/javascript" src="{{ STATIC_URL }}menu.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.2.js"></script>
		
		<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  
		
		{% block head %}{% endblock %}
	</head>
	<body>
		<a href="/songs/" style="text-decoration:none"><h1>Songs</h1></a>

		{% include 'songs/navmenu.html' %}
		
		{% if messages %}
			<ul class="messages">
				{% for message in messages %}
					<li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
				{% endfor %}
			</ul>
		{% endif %}
			
		{% block content %}{% endblock %}
		{% block footer %}
			<hr />
			<p class="footer">Copyright {% now "Y" %}</p>
		{% endblock %}
	</body>
</html>